/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  background-color: #DCDCDC;
}
.title {
font-family: serif;
}
.sub {
  font-family: sans-serif;
}
/* nav ul a,
nav .brand-logo {
  color: rgb(210, 211, 154);
} */
a.dropdown-button.btn {
  font-size: 20px;
  margin-top: 2em;
  margin-left: 1em;
}

p {
  line-height: 2rem;
}
#index-banner {
opacity: 8;
}
.parallax {
  height: 100%;
}
.btn-floating  {
  display: inline-block;
  color: #800000;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: transparent;
  border-radius: 360%;
  border: 3px solid#800000;
  border: l;
  border-bottom: #800000;
}
.profpic {
  width: 325px;
  height: 350px;
  text-align: center;
  border-radius: 50%;
  border: 3px solid teal;
  border: l;
  border-bottom: teal;

}
.bio {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;

}
.quote {
  text-align: center;
  font-size: 1.2em;
  font-weight: lighter;
  color: teal;
}
.light {
  text-align: center;
}
.btn-floating i {
color: #800000;
border-radius: 50%;
}


.btn {
  border: 2px bold;
  border-color:#800000;
  border-radius: 10px;


}

.row {
  text-align: center;
  border-color: teal accent-3;
}
.title {
  text-align: center;
  color: whitesmoke;
  font-size: 7em;
  margin-top: 1em;
  font-weight: bolder;
}
.sub {
  text-align: center;
  color: whitesmoke;
  font-weight: lighter;
  font-size: 2.5em;
}

.button-collapse {
  color: teal accent-3;
}

.parallax-container {
  min-height: 660px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background: rgba(21, 21, 21, 0.7);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: transparent;

}
.footer-copyright {
  text-align: center;
}


/* want top photo to have no top margin */