/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  background: url(../blackmetal1.jpg);
}

hr {
 border-color: indianred;
}

.title {
font-family: serif;
margin-bottom: 0px;
padding-bottom: 0px;
}

.sub {
  font-family: sans-serif;
  word-spacing: 1.2px;
  text-align: center;
  padding-top: 10px;
}

p {
  line-height: 2rem;
}


#index-banner {
opacity: 8;
}


.parallax {
  height: 100%;
}


.btn-floating  {
  display: inline-block;
  color: #CD5C5C	;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: transparent;
  border-radius: 360%;
  border: 2px solid#CD5C5C	;
  border: l;
  border-bottom:2px solid #CD5C5C	;
}


.profpic {
  width: 325px;
  height: 350px;
  text-align: center;
  border-radius: 360%;
  border: 7px solid #CD5C5C;
  border: l;
  border-bottom:7px solid #CD5C5C;
  z-index: 5px;
}


.bio {
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
  font-family: sans-serif;
}


.quote {
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  color: #CD5C5C;
  font-family: serif;
}


.light {
  font-size: 1.1em;
}


.light {
  text-align: center;
}


.btn-floating i {
color: #CD5C5C	;
border-radius: 50%;
}


.btn {
  border: 2px bold;
  border-color:#CD5C5C	;
  border-radius: 10px;
}


.row {
  text-align: center;
  border-color: indianred;
}


.title {
  text-align: center;
  color: whitesmoke;
  font-size: 7em;
  margin-top: 1em;
  font-weight: bolder;
}


.sub {
  text-align: center;
  color: whitesmoke;
  font-weight: lighter;
  font-size: 2.5em;
}


.button-collapse {
  color: indianred;
}


.parallax-container {
  min-height: 660px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background: rgba(21, 21, 21, 0.7);
}
.container {
  min-height: 400px;
}

/* .section {
  /* background: url(../tryme.jpg); */
/* } */ */

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}
  
  
.icon-block .material-icons {
  font-size: inherit;
}
  
  
footer.page-footer {
  margin: 0;
  background-color: transparent;
  color: indianred;
}
  
  
.footer-copyright {
  text-align: center;
}


.copyright {
  color: indianred;
}

  
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}




/* want top photo to have no top margin */