/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  background-color: whitesmoke;
}
/* nav ul a,
nav .brand-logo {
  color: rgb(210, 211, 154);
} */
a.dropdown-button.btn {
  font-size: 20px;
  margin-top: 2em;
  margin-left: 1em;
}

p {
  line-height: 2rem;
}
#index-banner {
opacity: 8;
}
.parallax {
  height: 100%;
}

.row {
  text-align: center;
  border-color: teal accent-3;
}
.title {
  text-align: center;
  color: whitesmoke;
  font-size: 7em;
  margin-top: 1em;
  font-weight: bolder;
}
.sub {
  text-align: center;
  color: whitesmoke;
  font-weight: lighter;
  font-size: 2.5em;
}

.button-collapse {
  color: teal accent-3;
}

.parallax-container {
  min-height: 660px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background: rgba(21, 21, 21, 0.7);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* want top photo to have no top margin */